### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strona-glowna index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule moj-komputer mojkomputer.html
RewriteRule kontakt kontakt.html
RewriteRule gdzie-sie-uczylem nauka.html