
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-facebook-official:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-desktop:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-graduation-cap:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e808'; } /* '' */