.container {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#rok {
    margin: 0;
    padding: 0;
    height: 45px;
    font-size: 37.5px;
    font-weight: bold;
    text-align: center;
}

.miesiac {
    margin: 0;
    height: 30px;
    font-size: 16.5px;
    font-weight: bold;
    text-align: center;
}

@media (max-device-width: 1844px) {
    .container {
        width: 872px;
    }

    .tabela_div_left {
        margin: 20px;
    }
    
    .tabela_div_right {
        margin: 20px;
    }
}

@media screen and (min-device-width: 1845px) {
    .container {
        width: 1845px;
    }
    
    .tabela_div_left {
        margin: 20px;
        clear: both;
        float: left;
      }
    
     .tabela_div_right {
        margin: 20px;
        float: left;
      }
}

.tabela {
    font-size: 16.5px;
    font-weight: bold;
}

table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.tabelka tr {
    border: solid black 4.5px;
}

.tabelka td {
    border-right: solid black 4.5px; 
}

#t1>td {
    background: cornflowerblue;
    width: 120px;
    height: 30px;
    text-align: center;
}

td {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 97.5px;
    text-align: left;
}

#niedziela_first {
    color: #747474;
}

#sobota_first {
    color: red;
}

tr #niedziela {
    border: none;
}

td #niedziela {
    height: 22.5px; 
    text-align: center; 
    border-bottom: solid 1.5px; 
    color:red;
}

tr #sobota {
    border: none;
}

td #sobota {
    height: 22.5px; 
    text-align: center; 
    border-bottom: solid 1.5px; 
    color:#747474;
}

tr #roboczy {
    border: 0;
}

td #roboczy {
    height: 22.5px; 
    text-align: center; 
    border-bottom: solid 1.5px; 
}

td #tab_in {
    height: 75px; 
    border: none;
}

#menu {
    clear: both;
}